
body {
    max-width: 1440px;
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    background: url(./images/bg-pattern-top.svg) -55% 220% no-repeat, url(./images/bg-pattern-bottom.svg) 150% -170% no-repeat;
    background-color: #19a1ae;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
}

.card-container {
    width: 350px;
    text-align: center;
    background: #ffffff;
    border-radius: 15px;
}

.card-img-background img {
    border-radius: 15px 15px 0 0;
}

.text-headerline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-headerline h4 {
    margin: 10px;
    font-size: 18px;
    line-height: 22.32px;
    color: rgba(46, 51, 73, 1);
}

.text-headerline span {
    font-size: 14px;
    font-weight: 400;
    line-height: 17.3px;
    color: rgba(107, 112, 130, 1);
}

.line {
    border: 1px solid #E8E9EC;
    margin-top: 28px;
}

.text-followers h4 {
    font-family: "Kumbh Sans";
    font-weight: 700;
    font-size: 18px;
    line-height: 22.3px;
    color: #2e3349;
}

.text-followers span {
    font-family: "Kumbh Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1.5px;
    color: #6b7082;
}

.body-cont {
    padding: 0px 40px 40px;
}

.victor-img {
    width: 96px;
    border: 5px solid white;
    border-radius: 50%;
    margin-top: -50px;
}

.react-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-followers {
    display: flex;
    flex-direction: column;
}